<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Gud"}) %>
</head>
<body>
    <div class="flex justify-center items-center h-screen">
        <div class="grid w-1/2 mx-auto grid-cols-2 gap-3">
            <div class="bg-green-300 rounded-md  p-2 text-center">
              1
            </div>
            <div class="bg-green-300 rounded-md  p-2 text-center">
              1
            </div>
            <div class="bg-green-300 rounded-md  p-2 text-center">
              1
            </div>
            <div class="bg-green-300 rounded-md  p-2 text-center">
              1
            </div>
            <div class="col-span-2 md:col-span-1  bg-green-300 rounded-md  p-2 text-center">
              1
            </div>
          </div>
      </div>
</body>
</html>